@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');



.container-fluid {
    background-size: auto;
    overflow: hidden;
    background-color: #6907ff;
}



.logo {
    width: 35px;
    height: 50px;
    margin-top: 50px;
}

.logo-title {
    margin-top: -44px;
    margin-left: 24px;
    width: 100px;
    color: white;
    height: 28px;
    font-family: Roboto;
    font-size: 37px;
    font-weight: 700;
    font-style: italic;
    line-height: 60.19px;
    text-transform: uppercase;
}

.nav-link {
    color: white;
    margin: 30px;
    margin-top: 50px;
}

.nav-link:hover {
    color: lightgrey;
}

.nav-link:focus {
    color: lightgrey;
}

.header-btn {
    margin-top: -13%;
    margin-left: 85%;

}


.btn {
    width: 120px;
    height: 45px;
    margin-top: 50px;
    border-radius: 23px;
    background-color: #ff5f60;
    color: white;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}



.btn:hover {
    border-radius: 23px;
    background-color: orange;
}


.main-text {
    width: 547px;
    height: 53px;
    margin-left: -3%;
    margin-top: 200px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.main-text-end {
    width: 507px;
    height: 47px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.main-content {
    margin-top: -13%;
    margin-left: 40%;
    margin-bottom: 10%;
}

.group_bg {
    margin-top: 10%;
    background-repeat: no-repeat;
    margin-left: -10%;
    background-color: white;


}

.group {
    margin-left: -10%S;
}

.group-content {


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


h5 {
    display: inline-block;
    width: 495px;
    height: 114px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
}





.botaniq_bg {
    margin-top: 10%;
    background-repeat: no-repeat;
}

.botaniq {
    width: 100%;
    margin-left: 49%;
}

.botaniq-content {
    margin-top: -35%;
    margin-left: -10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-end {
    position: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.headers_one,
.headers_two {
    margin-left: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}


.headers_three {
    margin-left: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

.man {
    margin-left: 15%;
}

.idea {
    margin-left: 12%;
}

.cap {
    margin-left: 10%;
}

.Subtitles {
    width: 322px;
    height: 72px;
    margin-top: 3%;
    color: #8c8c8c;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.footer {
    margin-bottom: 3%;
    height: 16px;
    color: #c9c9c9;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}