@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');



.container-fluid {
    background-size: auto;
    overflow: hidden;
    background-color: #6907ff;
}



.logo {
    width: 35px;
    height: 50px;
    margin-top: 50px;
}

.logo-title {
    margin-top: -44px;
    margin-left: 24px;
    width: 100px;
    color: white;
    height: 28px;
    font-family: Roboto;
    font-size: 37px;
    font-weight: 700;
    font-style: italic;
    line-height: 60.19px;
    text-transform: uppercase;
}

.nav-link {
    color: white;
    margin: 30px;
    margin-top: 50px;
}

.nav-link:hover {
    color: lightgrey;
}

.nav-link:focus {
    color: lightgrey;
}




.btn {
    width: 120px;
    height: 45px;
    margin-top: 50px;
    border-radius: 23px;
    background-color: #ff5f60;
    color: white;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.btn:hover {
    border-radius: 23px;
    background-color: orange;
}


.main-text {
    width: 547px;
    height: 53px;
    margin-top: 200px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.main-text-end {
    width: 507px;
    height: 47px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.main-content {
    margin-top: 120px;
    margin-bottom: 100px;
}

.group {
    /* background-image: url(../img/group_bg.png); */
    background-repeat: no-repeat;
    margin-left: -300px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    /* background-color: violet; */
    /* margin-top: 300px; */
}

.group-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 497px;
}


h5 {
    display: inline-block;
    width: 495px;
    height: 114px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
}





.botaniq {
    /* background-image: url(../img/botaniq-bg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 465px;
    margin-top: -250px;
    margin-left: 500px;
    
}

.content-end {
    margin-top: 100px;
    justify-content: center;
}

.nav-footer {
    display: inline;
    color: #c9c9c9;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.28px;
    font-family: 'Poppins', sans-serif;

}